
input[type="url"]:invalid,
/*input[type="tel"]:invalid,*/
input[type="email"]:invalid {
  background-color: lightcoral;
}

input[type="url"]:valid,
/*input[type="tel"]:valid,*/
input[type="email"]:valid {
background-color: lightgreen;
} 

/* This code below just styles the placeholders so they are easier to see */

input::-webkit-input-placeholder {
  color: #5791b2;
}

input:-moz-placeholder {  
  color: #5791b2;
}

input:-ms-input-placeholder { 
  color: #5791b2;

}
